h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.main-container {
    text-align: center;
    color: green;
    font-size: 20px;
}

.main-container ul {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
    color: orange;
}

#fruits {
    font-size: 80px;
    color: purple;
    text-align: center;
}

.box {
    color: brown;
    padding-left: 10px;
}

.new-box {
    border: 5px;
    border-color: red;
    background-color: lightgreen;
    padding: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.git-push {
    border: 5px solid navy;
    padding: 50px;
    border-color: black;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    background-color: cadetblue;
}